:root {
    --spectra-mint-green: #69bf97;
    --spectra-mint-darkgreen: #579f7d;
    --sidebar-grey: #c8c8c8;
    --graph-grey: #e1e1e1;
    --error-red: rgba(215, 67, 67, 0.5);
    --popup-grey: rgba(87, 85, 85, 0.5);
}

.bg-sidebar {
    background-color: var(--sidebar-grey);
}

.bg-mainContent {
    background-color: var(--graph-grey);
}

.btn-spectraGreen {
    background-color: var(--spectra-mint-green);
    border-color: var(--spectra-mint-darkgreen);
}

.btn-spectraGreen:hover {
    background-color: var(--spectra-mint-darkgreen);
    border-color: var(--spectra-mint-darkgreen);
}

.btn-spectraGreen, input