body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.title-container {
    text-align: center;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

#languageContainer{
    position: absolute;
    top: 20px;
    right: 20px;
}

#downloadWrapper {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--sidebar-grey);
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

#downloadWrapper.active {
    transform: translateX(0) translateY(-50%);
}

#toggleDownload {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    padding: 0.5rem 1rem;
    border: 1px solid var(--spectra-mint-darkgreen);
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 1000;
    color: rgba(87, 85, 85);
}