body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f0f0;

    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 50vw;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.section {
    max-width: 50vw;
}

.section.hidden {
    display: none;
}

/* ### Text Card ### */
.text-card {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.2s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-card:hover {
    transform: translateY(-5px);
}

.text-card-header {
    background: var(--spectra-mint-lightgreen);
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.text-card-header h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.text-card-body {
    padding: 15px;
    color: #555;
    font-size: 0.95em;
}

/* ### Image Card ### */
.image-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background: #fff;
    transition: transform 0.2s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-card:hover {
    transform: translateY(-5px);
}

.image-card img {
    width: 100%;
    display: block;
}

.image-card-description {
    padding: 15px;
}

.image-card-description h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.image-card-description p {
    margin: 0;
    color: #555;
    font-size: 0.95em;
}


#sidebar-tutorial {
    width: 12vw;
    position: fixed;
    left: 0.5rem;
    top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1000;
    border-radius: 6px;
    background-color: var(--sidebar-grey);
}